@import "../node_modules/ress/dist/ress.min.css";
@import "./**/*.css";

:root {
    --main-left--width: 50%;
    --main-right--width: 50%;
}

html, body, .main, #js-editor {
    width: 100%;
    height: 100%;
}

.main, .main-output {
    margin: 0;
    padding: 0;
}

.main {
    border-right: 1px solid #ddddff;
    position: fixed;
    width: var(--main-left--width);
}

.main-title {
    padding: 0.2rem;
    font-size: 1.5rem;
    background: #e1edec;
}

.main-title a {
    color: black;
    text-decoration: none;
}

.main-output {
    position: absolute;
    width: var(--main-right--width);
    left: var(--main-left--width);
}